<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>PortFolio</title>



  <!-- Template Main CSS File -->

</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand text-center" href="#"
      style="font-family: 'Raleway', sans-serif; font-style:italic ;"><b>Darpan Pednekar</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-between align-items-center ">

        <li class="nav-item">
          <a class="nav-link" href="#about">About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#edu_details">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#hobbies">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>

      </ul>
    </div>
  </nav>

  <section id="about" style="background-color: #e3ebf3;">
    <div class="container">
      <div class="row featurette">
        <div class="col-md-4 order-md-1 py-4">

          <img src="static/img/display pic.jpg" alt="display" width="500" height="500" s
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto ">


        </div>
        <div class="col-md-7 order-md-2 text-center  align-items-center" style="padding-top:100px;">
          <h1 class="featurette-heading">About Me. <span class="text-muted"></span></h1>
          <p class="lead">I am Darpan Pednekar. An aspirant Web Developer trying to learn creating
            awesome websites.I just love coding in Python and hence learning Django so that I can create amazing
            websites.</p>
          <div class="row my-5">
            <div class="col-lg-5">
              <ul type="circle">
                <li> <strong>Birthday:</strong> 4th August 1998</li>

                <li> <strong>Phone: </strong> +91 8169196473</li>
                <li><strong>City: </strong> Mumbai,India</li>
              </ul>
            </div>
            <div class="col-lg-7">
              <ul type="circle">
                <li> <strong>Age:</strong> 22</li>
                <li><strong>Degree:</strong> Bachelors</li>
                <li> <strong>Email id:</strong> pednekardarpan@gmail.com</li>

              </ul>
            </div>
          </div>
        </div>


      </div>
      <hr>
    </div>
  </section>

  <section id="edu_details">
    <div class="container mb-0  ">
      <h1 style="font-family: 'Raleway', sans-serif; color: #45505b; font-size: 32px;
      font-weight: bold;">EDUCATION DETAILS</h1>
      <div class="row">
        <div class="col-lg-6">
          <div class="resume-item py-4">
            <h4>Secondary High School </h4>
            <h5>2014 Passout</h5>
            <p><em>St. Ursula.School, Kankavli, Maharashtra</em></p>
            <ul>
              <li>State Board of MAHARASHTRA</li>
              <li>Percentage : 91.80%</li>
            </ul>


          </div>

          <div class="resume-item">
            <h4>Junior College (Science)</h4>
            <h5>2014 - 2016</h5>
            <p><em>S.M.Junior College, Kankavli, Maharashtra</em></p>
            <ul>
              <li>State Board of MAHARASHTRA</li>
              <li>Percentage : 80.00%</li>
            </ul>
          </div>
        </div>


        <div class="col-lg-6">
          <h3 class="resume-title "></h3>
          <div class="resume-item ">
            <h4>Bachelor of Engineering [BE] </h4>
            <h5>2016-Present</h5>
            <p><em>St. John College of Engineering and Management, Palghar, Mumbai </em></p>
            <ul>
              <li>Mumbai University</li>
              <li>Aggregate : 8.3 CGPA</li>
              <li>IT Engineering</li>

            </ul>
          </div>

        </div>
      </div>
      <hr>
    </div>



  </section>


  <section id="skills">
    <div class="container mb-5 my-0 mt-0">
      <h1 style="font-family: 'Raleway', sans-serif; color: #45505b; font-size: 32px;
      font-weight: bold;">MY SKILLS</h1>
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">

          <p>These are my skills and since i keep learning new new things ,I would like to keep on improving.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">


            <p>HTML</p>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100">80%</div>
            </div>


            <p>CSS</p>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>

            <p>Bootstrap</p>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0"
                aria-valuemax="100">90%</div>
            </div>

          </div>

          <div class="col-lg-6">

            <p>Python</p>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                aria-valuemax="100">80%</div>
            </div>

            <p>Django </p>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>

            <p>Wordpress</p>
            <div class="progress mb-2">
              <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">50%</div>
            </div>

          </div>

        </div>

      </div>

    </div>
    <div class="container">
      <hr>
    </div>

  </section>


  <section id="hobbies">
    <div class="container">
      <strong>
        <h1 style="font-family: 'Raleway', sans-serif; color: #45505b; font-size: 32px;
        font-weight: bold;">MY HOBBIES</h1>
      </strong>


      <div class="row my-5">
        <div class="col-md-3 ">
          <div class="card mb-4 shadow-sm">
            <img src="static/img/hobby1.jpg" alt="cricket" class="bd-placeholder-img card-img-top" width="100%"
              height="225">
            <div class="card-body">
              <h5 class="card-text text-center"> Playing Cricket</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="card mb-4 shadow-sm">
            <img src="static/img/hobby2.jpg" alt="coding" class="bd-placeholder-img card-img-top" width="100%"
              height="225">
            <div class="card-body">
              <h5 class="card-text text-center"> Coding</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="card mb-4 shadow-sm">
            <img src="static/img/hobby3.jpg" alt="reading" class="bd-placeholder-img card-img-top" width="100%"
              height="225">
            <div class="card-body">
              <h5 class="card-text text-center">Reading Books</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="card mb-4 shadow-sm">
            <img src="static/img/hobby4.jpg" alt="entrepreneurship" class="bd-placeholder-img card-img-top" width="100%"
              height="225">
            <div class="card-body">
              <h5 class="card-text text-center"> Entrepreneurship</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <hr>
    </div>
  </section>

  <section id="projects">
    <div class="container mb-4 ">
      <h1 class="mb-4 " style="font-family: 'Raleway', sans-serif; color: #45505b; font-size: 32px;
      font-weight: bold;">MY PROJECTS</h1>
      <div class="row">
        <div class="col-md-4">
          <h2>Wordpress Bicycle Website</h2>
          <p>A simple website for bicycle lovers where they can gain more information about vintage bicycles and also
            gain repairing techniques. </p>
          <p><a class="btn btn-info" href="https://classicbicycles870516599.wordpress.com/" role="button">Go to Website
              »</a></p>
        </div>
        <div class="col-md-4">
          <h2>iCoder Blogging Website</h2>
          <p>Created a Blogging website using Html, CSS , JavaScript and Bootstrap.The template was completely
            responsive and had a great UI. Attaching the link of the website along with this.. </p>
          <p><a class="btn btn-info" href="https://darpan45.github.io/iCoderBootstrap/" role="button">Go to Website
              »</a></p>
        </div>

      </div>


    </div>

  </section>

  <footer id="footer" style=" background: #e3ebf3;
  
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
">
    <div class="container">
      <h3>Darpan Pednekar</h3>
      <h5>Follow me on </h5>
      <div class="social-links">


        <a href="https://www.instagram.com/darpunn45/" class="btn btn-social-icon btn-instagram">
          <span class="fa fa-instagram"></span>
          <p>Instagram</p>
        </a>
        <a href="https://twitter.com/darpan_pednekar" class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter"></span>
          <p>Twitter</p>
        </a>
        <a href="https://www.linkedin.com/in/darpan-pednekar-20576a181/" class="btn btn-social-icon btn-linkedin">
          <span class="fa fa-linkedin"></span>
          <p>Linkedin</p>
        </a>

      </div>
      <div class="copyright">
        © Copyright <strong><span>Darpan Pednekar</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>